<!DOCTYPE html>
<html>
  <head>
  <title> Yo, Welcome Home <%= @title %> </title>
  </head>
    <body>
<h1>Sample App</h1>
<p>This is the sample app homepage. I'm learning Rails. cool.</p>
    </body>
</html>